PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/genisis?retryWrites=true&w=majority
JWT_SECRET=long-random-string
ADMIN_EMAIL=you@example.com
ADMIN_PASSWORD=strong-password
